<!doctype html>
<html lang="en" ng-app="LunchChecker">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
         <script src="angular.js"> </script>
        <script src="app.js"> </script>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckerCtrl">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishesList"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
            <span ng-if="message=='Please enter data first'" style="color: red">{{message}}</span>
             <span ng-if="message!=='Please enter data first'" style="color: green">{{message}}</span>
         </div>
   </div>

</body>
</html>
